<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.beihua.cn.dao.UserMapper">
        <update id="updatePwd" parameterType="User">
            update user
            set  password=#{passWord}
            where username='admin';
        </update>

        <select id="findAdmin" resultType="User">
            select * from user
            where username=#{0}
              and password=#{1};
        </select>

        <insert id="regUser" parameterType="User">
            insert into user (username, password)
            VALUES (#{userName},#{passWord});
        </insert>

        <select id="checkReg" resultType="User">
            select * from user where username = #{userName}
        </select>
</mapper>